@import '../../variables';

@import '../../global.styles.scss';

h1 {
    border-bottom: 1px $fl-white solid;
    color: $fl-white;
}

li {
    background-color: $fl-white;
    list-style-type: none;
    margin: 30px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

li:hover {
    background-color: $fl-red;
    span {
        color: $fl-white;
  
    }
}