@import '../../variables';

.fl-record {
    font-family: 'newtown';
    text-transform: uppercase;
    
    div:first-child {
        border-right: none;
    }

    div {
        border: 1px solid $fl-red;
        height: 93vh;
        border-top: none;
    }

    h1 {
        color: $fl-red;
        border-bottom: 1px solid $fl-red;
    }

    p {
        color: $fl-red;
    }

    img {
        height: 120px;
        width: 120px;
        margin-top: 20px;
        margin-left: 30px;
        margin-top: 40px;
    }

}