<div class="fl-record">
  <div class="row">
    <div class="col-md-2 d-none d-md-block"> 
      <img src="../../assets/moduleImages/record-label.png">
      <img src="../../assets/moduleImages/record-label.png">
      <img src="../../assets/moduleImages/record-label.png">
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12"> 
      <h1>Record Label</h1>
      <p>Our first release is coming soon</p>
      <div class="fl-contact">
        <span>Contact: <a href="mailto:flightrecordingspdx@gmail.com">flightrecordingspdx@gmail.com</a></span>
        <!-- <a target="_blank" href="https://twitter.com/pressedoutpdx?lang=en"><img src="../assets/icons/twitter.png"></a> -->
        <a target="_blank" href="https://www.instagram.com/flightrecordingspdx/?hl=en"><img src="../assets/icons/insta.png"></a>
        <a target="_blank" href="https://soundcloud.com/flightrecordingspdx"><img src="../assets/icons/soundcloud.png"></a>
      </div>
    </div>
  </div>
</div>