@import '../../variables';
@import '../../global.styles.scss';

img {
    width: 75%;
}

p {
    color: $fl-red;
    margin-bottom: 10px;
}

h1 {
    border-bottom: 1px $fl-red solid;
    color: $fl-red;
}
