<div class="row">
  <div class="artist-div col-md-5">
      <li *ngFor="let artist of artists"
      (click)="onSelect(artist)">
      <span [class.selected]="artist === selectedArtist">{{artist.name}}</span> 
      </li>
  </div>

  <div class="artist-bio col-md-7">
      <h1>{{selectedArtist.name}}</h1>
      <img src= "../../../assets//artistImages/{{selectedArtist.image}}">
      <div class="link-div" *ngIf="selectedArtist">
        <a target="_blank" href="https://www.soundcloud.com/{{selectedArtist.soundcloud}}"><img src="../assets/icons/insta.png"></a>
        <a target="_blank" href="https://instagram.com/{{selectedArtist.instagram}}"><img src="../assets/icons/soundcloud.png"></a>
      </div>
      <p>{{selectedArtist.bio}}</p>
  </div>
</div>

