<div class="artist-structure">

  <div class="artist-sidenav">
      <li *ngFor="let artist of artists"
      (click)="onSelect(artist)" [class.selected]="artist === selectedArtist">
      {{artist.name}}
      </li>
  </div>


  <div class="artist-bio">
      <h1>{{selectedArtist.name}}</h1>
      <img src= "../../../assets//artistImages/{{selectedArtist.image}}">
      <div class="link-div" *ngIf="selectedArtist">
        <a target="_blank" *ngIf="selectedArtist.soundcloud != ''" href="https://www.soundcloud.com/{{selectedArtist.soundcloud}}"><img src="../assets/icons/soundcloud.png"></a>
        <a target="_blank" *ngIf="selectedArtist.instagram != ''" href="https://instagram.com/{{selectedArtist.instagram}}"><img src="../assets/icons/insta.png"></a>
      </div>
      <p>{{selectedArtist.bio}}</p>
  </div>
</div>

