<div class="fl-about">
  <div class="row">
    <div class="col-md-2 d-none d-md-block"> 
      <img src="../../assets/moduleImages/pressedoutsmilie.png">
      <img src="../../assets/moduleImages/pressedoutsmilie.png">
      <img src="../../assets/moduleImages/pressedoutsmilie.png">
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12"> 
      <h1>Flight</h1>
      <p>{{typewriter_display }}</p>
    <div class="about-contact">
      <span>Contact: <a href="mailto:flightrecordingspdx@gmail.com">flightrecordingspdx@gmail.com</a></span>
      <!-- <a target="_blank" href="https://twitter.com/pressedoutpdx?lang=en"><img src="../assets/icons/twitter.png"></a> -->
      <a target="_blank" href="https://www.facebook.com/flight.pdx/"><img src="../assets/icons/facebook.png"></a>
      <a target="_blank" href="https://www.instagram.com/flight.pdx/"><img src="../assets/icons/insta.png"></a>
      <a target="_blank" href="https://soundcloud.com/flightrecordingspdx"><img src="../assets/icons/soundcloud.png"></a>
    </div>
    </div>
  </div>
</div>