@import '../../variables';
@import '../../global.styles.scss';

img {
    width: 75%;
}

h1 {
    border-bottom: 1px $fl-yellow solid;
    color: $fl-yellow;
}

a {
    display: block;
    color: $fl-red;
    display: inline-flex;
    font-size: 12px;
    margin-right: 10px;
}

a:hover {
    color: $fl-blue;
}

p {
    color: $fl-yellow;
    margin-bottom: -5px;
}

.about-us {
    margin-top: 20px;
    font-size: 12px;
}