<div class="fl-about">
  <div class="row">
    <div class="col-md-2 d-none d-md-block"> 
      <img src="../../assets/moduleImages/pressedoutsmilie.png">
      <img src="../../assets/moduleImages/pressedoutsmilie.png">
      <img src="../../assets/moduleImages/pressedoutsmilie.png">
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12"> 
      <h1>Flight</h1>
      <span class="about-contact">
        <span>Contact: <a href="mailto:flightrecordingspdx@gmail.com">flightrecordingspdx@gmail.com</a></span>
        <span><a target="_blank" href="https://www.facebook.com/flight.pdx/">Facebook</a></span>
        <span><a target="_blank" href="https://www.instagram.com/flight.pdx/">Instagram</a></span>
        <span><a target="_blank" href="https://soundcloud.com/flightrecordingspdx">Souncloud</a></span>
      </span>
      <p>About us coming soon - we've got history to share with you.</p>
    </div>
  </div>
</div>