@import '../../variables';

.fl-about {
    position: relative;
    font-family: 'newtown';

    div:first-child {
        border-right: none;
    }

    div {
        border: 1px solid $fl-yellow;
        height: 93vh;
        border-top: none;
    }

    h1 {
        color: $fl-yellow;
        border-bottom: 1px solid $fl-yellow;
        text-transform: uppercase;
    }

    p {
        color: $fl-yellow;
    }

    img {
        height: 150px;
        width: 150px;
        right: 10px;
        margin-top: 20px;
        margin-left: 13px;
    }

    a:first-child {
        margin-right: 10px;
        cursor: pointer;
    }
}

.about-contact {
    display: inline-block;
    max-height: 50px;
    font-family: "newtown";
    text-transform: uppercase;

    span {
        display: inline-block;
        font-size: 13px;
        color: $fl-red;

        a {
            color: $fl-red;
            text-decoration: underline;
        }
    }

    a:hover {
        color: $fl-yellow !important;
    }

    img {
        z-index: 10;
        width: 42px;
        height: 40px;
        margin-top: 0px;
        margin-right: -2px;
        cursor: pointer;
    }

}