@import '../../variables';

.fl-events {
    font-family: 'newtown';
    text-transform: uppercase;
    
    div:first-child {
        border-right: none;
    }

    div {
        border: 1px solid $pressed-green;
        height: 93vh;
        border-top: none;
    }

    h1 {
        color: $pressed-green;
        border-bottom: 1px solid $pressed-green;
    }

    p {
        color: $pressed-green;
    }

    img {
        height: 150px;
        width: 150px;
        right: 10px;
        margin-top: 20px;
        margin-right: 10px;
    }

}