<div class="fl-events">
    <div class="row">
      <div class="col-md-2 d-none d-md-block"> 
        <img src="../../assets/moduleImages/EventsLogo.png">
        <img src="../../assets/moduleImages/EventsLogo.png">
        <img src="../../assets/moduleImages/EventsLogo.png">
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12"> 
        <h1>Events</h1>
        <a target="_blank" href="https://www.facebook.com/events/381061899223782/">LINK TO EVENT</a>
        <img class="event-image" src="../../assets/eventimages/instagram-nov1st-ls.png">
      </div>
    </div>
  </div>