<!-- <div class="fl-events"> -->
    <!-- <div class="row">
      <div class="col-md-2 d-none d-md-block"> 
        <img src="../../assets/moduleImages/EventsLogo.png">
        <img src="../../assets/moduleImages/EventsLogo.png">
        <img src="../../assets/moduleImages/EventsLogo.png">
      </div> -->
      <!-- <div class="col-md-10 col-sm-12 col-xs-12">  -->
        <h1>Events</h1>
        <img class="event-image" (click)="openEvent()" src="../../assets/eventimages/instagram-jan3rd-ls.png">
      <!-- </div>
    </div> -->
  <!-- </div> -->