@import '../../variables';
@import '../../global.styles.scss';

img {
    width: 55%;
    cursor: pointer;
    margin-bottom: 50px;
}

h1 {
    border-bottom: 1px $fl-green solid;
    color: $fl-green;
}

@media screen and (max-width: 767px) { 
    img {
        width: 100%;
    }
}

p {
    color: $fl-green;
    text-decoration: underline;
    margin-bottom: 5px;
}