@import '../../variables';

.fl-mixes {
    position: relative;
    height: 93vh;
    font-family: 'newtown';
    text-transform: uppercase;
    
    div:first-child {
        border-right: none;
    }

    h1 {
        color: $fl-purple;
        border-bottom: 1px solid $fl-purple;
    }

    div {
        border: 1px solid $fl-purple;
        height: 93vh;
        border-top: none;
    }

    p {
        color: $fl-purple;
    }

    img {
        width: 125px;
        margin-left: 26px;
        margin-top: 50px;
    }


}