
.photos {
    margin: auto !important;
    display: block !important;
    padding-top: 15px;
}

// @media screen and (max-width: 767px) { 
//     .photos {
//         width: 100% !important;
//         height: 100% !important;
//     }
//}