<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>
<div class="website-structure">
  <div class="side-images">
      <img src="../../assets/moduleImages/EventsLogo.png">
      <img src="../../assets/moduleImages/EventsLogo.png">
      <img src="../../assets/moduleImages/EventsLogo.png">
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">Which social media owns you?</div>
    <!-- <div class="ticker__item"><img src="../assets/icons/twitter.png"><a target="_blank" href="https://twitter.com/pressedoutpdx?lang=en">@pressedoutpdx</a></div> -->
    <div class="ticker__item"><img src="../assets/icons/facebook.png"><a target="_blank"
        href="https://www.facebook.com/flight.pdx/">@flight.pdx</a></div>
    <div class="ticker__item"><img src="../assets/icons/insta.png"><a target="_blank"
        href="https://www.instagram.com/flight.pdx/">@flight.pdx</a></div>
    <div class="ticker__item"><img src="../assets/icons/soundcloud.png"><a target="_blank"
        href="https://soundcloud.com/flightrecordingspdx">@flightrecordingspdx</a></div>
  </div>
</div>