@import './../variables.scss';

///Website structure

.website-structure {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  grid-template-areas: "side-images" "main-content";
  grid-row: 1;
}

.side-images {
  grid-area: side-images;
  grid-column-start: 1;
  border-right: $fl-green 1px solid;

  img {
    width: 75%;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media screen and (max-width: 767px) {
  .side-images {
    display: none;
  }

  .website-structure {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "main-content";
    grid-row: 1;
  }

  .main-content {
    grid-area: main-content;
    grid-column-start: 1 !important;
    grid-row: 1;
  }
}

.main-content {
  grid-area: main-content;
  grid-column-start: 2;
  grid-row: 1;
}

////Ticker CSS

* { box-sizing: border-box; }
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: $fl-blue; 
  padding-left: 100%;
  box-sizing: content-box;
  .ticker {

    display: inline-block;
    height: 2rem;
    line-height: 2rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: 1rem;
      color: $fl-white;   

    }

  }

}

body { padding-bottom: 5rem; }
h1,h2,p {padding: 0 5%;}

.ticker {
  cursor: pointer;
  font-family: 'newtown';
  text-transform: uppercase;
  a {
    color: $fl-white;
    cursor: pointer;
  }

  a:hover {
    color: $fl-yellow;
    cursor: pointer;
  }
  img{
    width: 35px;
    margin-right: 5px;
  }
}