<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>  
<router-outlet></router-outlet>
<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">Which social media do you sell your soul to?</div>
    <!-- <div class="ticker__item"><img src="../assets/icons/twitter.png"><a target="_blank" href="https://twitter.com/pressedoutpdx?lang=en">@pressedoutpdx</a></div> -->
    <div class="ticker__item"><img src="../assets/icons/facebook.png"><a target="_blank" href="https://www.facebook.com/flight.pdx/">@flight.pdx</a></div>
    <div class="ticker__item"><img src="../assets/icons/insta.png"><a target="_blank" href="https://www.instagram.com/flight.pdx/">@flight.pdx</a></div>
    <div class="ticker__item"><img src="../assets/icons/soundcloud.png"><a target="_blank" href="https://soundcloud.com/flightrecordingspdx">@flightrecordingspdx</a></div>
</div>
</div>