@import '../../variables';;
@import '../../global.styles.scss';

form {
    background-color: $fl-black;
}

label {
    color: $fl-purple;
}

.button {
    background-color: $fl-purple !important;
}

.indicates-required {
    color: $fl-purple !important;
}

h2 {
    color: $fl-purple !important;
    font-family: 'newtown';
    font-weight: 100 !important;
}

.asterisk {
    color: $fl-purple !important; 
}

h1 {
    border-bottom: 1px $fl-purple solid;
    color: $fl-purple;
}