<nav class="navbar navbar-expand-lg navbar-light  fl-navbar">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active fl-nav-item"  data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link"[routerLink]="['']">HOME<span class="sr-only">(current)</span></a>
        </li>      
        <li class="nav-item fl-nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/events']">EVENTS</a>
        </li>
        <li class="nav-item fl-nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/artists']">ARTISTS</a>
      </li>
      <li class="nav-item fl-nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/recordlabel']">Record Label</a>
    </li>
      <li class="nav-item fl-nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/about']">ABOUT/CONTACT</a>
        </li>
        <li class="nav-item fl-nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/links']">Links</a>
        </li>
        <li class="nav-item fl-nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/sign-up']">SUBSCRIBE</a>
        </li>
      </ul>
    </div>
  </nav>