@import '../../variables';

.fl-navbar {
    background-color: $fl-blue;
    font-family: 'newtown';
    text-transform: uppercase;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: $fl-white;
}

.fl-nav-item{
    a {
        color: $fl-white;
        border: 1px solid $fl-red;
        margin-right: 20px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 15px;
    }

    a:hover {
        color: $fl-red !important;
    }
}

.active-link {
    background-color: $fl-red;
    color: $fl-white !important;
}