//Global styling 

  a {
    text-decoration: underline !important;
    cursor: pointer;
    font-family: 'newtown';
    text-transform: uppercase;
  }

  p {
    font-family: 'newtown';
    text-transform: uppercase;
  }

  span {
    font-family: 'newtown';
    text-transform: uppercase;
  }

  h1 {
    font-family: 'newtown';
    text-transform: uppercase;
    border-bottom: 1px $fl-green solid;
    padding-top: 10px;
}
